body {
  font-family: "Inter", sans-serif;
  background-color: #F3F5F9;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  max-height: 9.36vh; 
  padding-top: 21px; 
  /* padding-right: 2.67vh; 
  padding-left: 0.8vh;  */
  padding-right: 21.36px;
  padding-left: 6.4px;
  margin: 8px;
}

.logo-section {
  display: flex;
  width: auto; 
  height: auto; 
  gap: 2.67vh; 
}

.v-logo {
  height: 8.5vh;
  padding: 0.44vh 0.89vh 0.44vh 0.89vh;
  gap: 0.89vh; 
  border-radius: 0.89vh 0 0 0; 
}

.c-logo-bg {
  margin-top: 2px;
  background-color: white;
  height: 8.5vh;
  width: 15vh;
  border-radius: 12px;
}

.c-logo {
  /* width: 6.68vw; */
  height: 7.67vh;
  padding: 12px;
  padding: 0.5vh 1.89vh 0.44vh 0.89vh;
  border-radius: 0.89vh 0 0 0;
}

.user-logo {
  /* margin-right: -34px; */
  /* width: 15vh; */
  height: 13vh;
  border-radius: 99px 0 0 0;
  /* padding-bottom: 12px; */
  /* object-fit: cover; */
}

/* Main Body */
section {
  /* height: 100%; */
  
  margin: 24px 10px 0 25px;
  gap: 30px;
  display: flex;
}

.section1 {
  width: 76%;
  row-gap: 12px;
}

.part1 {
  margin-bottom: 18px;
  border-radius: 1.5vh;
  background-color: white;
  /* height: 19%; */
  height: auto;
  gap: 1.11vh; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.part1_user {
  align-items: center;
  gap: 0.89vh; 
  padding: 0.5px 0 0 8px;
  display: flex;
}

.userlogo {
  height: 3.8vh;
  padding: 0.39vh 0.56vh 0.39vh 0.56vh; 
  border-radius: 10.99vh 0 0 0; 
}

.part1_user > p {
  font-weight: bold;
  /* width: 2.56vw; 
  height: 1.67vh; */
  color: #339933;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.67vh; 
  text-align: left;
}

.part1 > p {
  font-size: larger;
  font-weight: 700;
  margin-left: 10px;
}

.pdf_user {
  background-color: #F3F5F9;
  display: flex;
  margin-left: 10px;
  justify-content: flex-start;
  width: 37vh;
  border-radius: 0.5vh;
  gap: 1.33vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.pdf_user > img {
  height: 3vh;
  margin-top: 21px;
  margin-left: 12px;
}

.pdf_user > p {
  padding: 10px;
}

.part2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 18px;
  border-radius: 1.5vh;
  /* height: 38%; */
  height: auto;
  gap: 1.11vh; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.logo-container {
  display: flex;
  justify-content: start;
  padding: 0.5px 0 0 8px;
}

.logo-container > p {
  font-weight: bold;
  color: #339933;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.67vh; 
  text-align: left;
  margin-top: 28px;
  margin-left: 12px;
}

.logo-container > img {
  height: 3vh;
  margin-top: 21px;
  margin-left: 12px;
}

.paragraph-container {
  font-size: larger;
  /* margin-top: -21px; */
}

.paragraph-container > p {
  margin:0 15px 0 15px;
  line-height: 28px;
  text-align: justify;
  /* padding: 2px; */
}

.thumb-container {
  display: flex;
  justify-content: end;
  margin-bottom: 4px;
}

.thumb-container > img {
  /* width: 2.67vw;  */
  height: 2.67vh; 
  padding: 7px;
}

.part3 {
  background-color: white;
  margin-bottom: 18px;
  border-radius: 1.5vh;
  /* height: 38%; */
  height: auto;
  gap: 2.67vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.normal-like {
  transform: rotate(180deg);
  /* transform: rotate(360deg); */
  transform: scaleY(-1);

}

/* .part4 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 4%;
  border-radius: 1.5vh;
  gap: 1.11vh; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  border: 1px solid rgba(73, 114, 34, 0.3); 
  align-items: center;
  margin-bottom: 18px;
} */

 /* .part4 > button{
 
 
}  */

/* .part4 > img{

  border: none;
  padding: 0.84vh 0.67vh 0.84vh 0.67vh; 
  border-radius: 0.22vh 0 0 0; 
  width: 3.56vh; 
  height: 4vh; 
} */

/* .part4 > input {
  
  width: 99.9%; 
  border: none; 
  outline: none; 
  margin-left: 10px;
 
  font-size: 16px; 
 
} */




.part4 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  /* height: 4%; */
  height: auto;
  border-radius: 1.5vh;
  gap: 1.11vh;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(73, 114, 34, 0.3);
  align-items: center;
  margin-bottom: 18px;
}

.part4 > input {
  width: 99.9%; 
  border: none; 
  outline: none; 
  margin-left: 10px;
  font-size: 16px; 
}

.part4 > button {
  background-color: transparent;
  border: none;
  padding: 0.84vh 0.67vh 0.84vh 0.67vh; 
  cursor: pointer;
}

.part4 > button img {
  width: 3.56vh;
  height: 4vh;
  border-radius: 0.22vh 0 0 0;
}

.part4 > button:focus {
  outline: none;
}



.section2 {
  margin: 0 1% 0.9% 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  background-color: white;
  width: 24%;
  height: 100%;
  border-radius: 1.5vh;
}

.s2-pdf {
  display: flex;
  gap: 12px;
}

.pdfView {
  width: 111%;
  height: 59vh;
  margin-left: -22px;
}

.s2-pdf > p {
  font-family: 'Inter', sans-serif;
  font-size: larger;
  font-weight: 700;
  line-height: 2.67vh;
  text-align: left;
}

.s2-pdf > img {
  height: 3vh;
  margin-top: 21px;
  margin-left: 12px;
}
